# Ambiente virtual
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Django
*.log
db.sqlite3
media/
staticfiles/

# Variáveis de ambiente
.env
.env.*

# IDEs
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# Sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Backups
*.bak
*.backup
bck.txt